In [3]:
"""
@filename: PythonBasics
@author: waisullah yousofi
"""

'\n@filename: PythonBasics\n@author: waisullah yousofi\n'

In [61]:
print("Hello World!!!")

Hello World!!!

input

In [62]:
name = input("Enter your name: ")
print("Hello " + name)

Enter your name:
Hello

integer

In [63]:
quantity = 3
print(quantity)
print(type(quantity))

3
<class 'int'>

float

In [64]:
price = 2.5
print(price)
print(type(price))

2.5
<class 'float'>

float

In [65]:
price = 3.0
print(price)
print(type(price))

3.0
<class 'float'>

oolean

In [66]:
status=True
print(status)
print(type(status))

True
<class 'bool'>

string

In [67]:
message="Hello World!!!"
print(message)
print(type(message))

Hello World!!!
<class 'str'>

string

In [68]:
message='Hello World!!!'
print(message)
print(type(message))

Hello World!!!
<class 'str'>

#<br>
operators<br>
#<br>

maths operations

In [69]:
x = 10
y = 20
z = x + y
print(z)
z = x - y
print(z)
z = x * y
print(z)
z = x / y
print(z)
z = y ** x
print(z)
z = y ** 2
print(z)
z = y % x
print(z)

30
-10
200
0.5
10240000000000
400
0

In [70]:
z = y * x
print(z)
print(type(z))

200
<class 'int'>

In [71]:
z = y / x
print(z)
print(type(z))

2.0
<class 'float'>

In [72]:
x = 10
y = 20.0
z = y % x
print(z)
print(type(z))

0.0
<class 'float'>

auto casting

In [73]:
quantity = 3
price = 2.9
print(price)
print(type(price))
print(quantity)
print(type(quantity))
amount = price * quantity
print(amount)
print(type(amount))

2.9
<class 'float'>
3
<class 'int'>
8.7
<class 'float'>

explicit conversion - int

In [74]:
x = -2.1
print(x)
print(type(x))
x = int(x)
print(x)
print(type(x))

-2.1
<class 'float'>
-2
<class 'int'>

explicit conversion - int

In [75]:
x = -2.999
x = int(x)
print(x)
print(type(x))

-2
<class 'int'>

explicit conversion - int

In [76]:
x = 2.6
x = int(x)
print(x)
type(x)

2

int

explicit conversion - int<br>
check the effect of commenting line #price=int(price)

In [77]:
quantity = 3
price = 2.9
price=int(price)
print(price)
print(type(price))
print(quantity)
print(type(quantity))
amount = price * quantity
amount = int(amount )
print(amount)
print(type(amount))

2
<class 'int'>
3
<class 'int'>
6
<class 'int'>

explicit conversion - float<br>
check the effect of commenting line #quantity=float(quantity)

In [78]:
quantity = 3
price = 2.9
print(price)
print(type(price))
quantity=float(quantity)
print(quantity)
print(type(quantity))
amount = price * quantity
print(amount)
print(type(amount))

2.9
<class 'float'>
3.0
<class 'float'>
8.7
<class 'float'>

auto casting does not happen with string & numeric vars

In [79]:
item = "Book" 
print(item)
print(type(item))
label = item + " " + str(price)
print(label)
type(label)
print(item + " " + str(price))

Book
<class 'str'>
Book 2.9
Book 2.9

auto casting happens with int & logical vars

In [80]:
quantity = 3.0
print(quantity)
print(type(quantity))
quantity=int(quantity)
result = quantity * True 
print(result)
print(type(result))

3.0
<class 'float'>
3
<class 'int'>

auto casting happens with int & logical vars

In [81]:
print(quantity)
print(type(quantity))
quantity=int(quantity)
result = quantity + True 
print(result)
print(type(result))

3
<class 'int'>
4
<class 'int'>

auto casting happens with str & logical vars

In [82]:
print(quantity)
print(type(quantity))
quantity=int(quantity)
result = item + " " + str(False) 
print(result)
print(type(result))
 
# auto casting happens with int & logical vars
print(quantity)
print(type(quantity))
quantity=int(quantity)
result = quantity * False 
print(result)
print(type(result))

3
<class 'int'>
Book False
<class 'str'>
3
<class 'int'>
0
<class 'int'>

int from string

In [83]:
x = "123"
print(x)
print(type(x))
x = int(x)
print(x)
print(type(x))
x = float(x)
print(x)
print(type(x))

123
<class 'str'>
123
<class 'int'>
123.0
<class 'float'>

number from string

In [84]:
x = "123.8"
print(x)
print(type(x))
#x = int(x)
#print(x)
#print(type(x))
x = float(x)
print(x)
print(type(x))

123.8
<class 'str'>
123.8
<class 'float'>

number from string

In [85]:
x = "12.3"
print(x)
print(type(x))
# to int
#x = int(x)
#print(x)
#print(type(x))
# to float
x = float(x)
print(x)
print(type(x))

12.3
<class 'str'>
12.3
<class 'float'>

number from string

In [91]:
x = "12x3"
print(x)
print(type(x))
# to int
x = int(x)
print(x)
print(type(x))
# to float
x = float(x)
print(x)
print(type(x))

12x3
<class 'str'>

ValueError: invalid literal for int() with base 10: '12x3'

number from string

In [99]:
x = -122
print(x)
print(type(x))
# to int
x = bool(x)
print(x)
print(type(x))

-122
<class 'int'>
True
<class 'bool'>

number from string

In [100]:
x = 0.2
print(x)
print(type(x))
# to int
x = bool(x)
print(x)
print(type(x))

0.2
<class 'float'>
True
<class 'bool'>

if statement

In [101]:
x = 10 
if x == 10: 
 print("ooo")
 print("xxx")
else:
    print("xxx")
print('NOTA')

ooo
xxx
NOTA

if statement

In [102]:
x = 10
if x == 5:
    print("Equals 5")
elif x < 4:
	print('Less than 4')
elif x < 5:
	print('Less than 5')
elif x < 6: 
	print('Less than 6')
elif x <= 5:
    print('Less than or Equals 5')
elif x != 6:
    print('Not equal 6')
if x == 10: 
    print("ooo")
else:
  print('NOTA')
print("ha ha")

Not equal 6
ooo
ha ha

if statement

In [103]:
x = 1
if x == 5:
  print("Equals 5")
elif x < 5:
	print('Less than Or Equals 6')
elif x > 5:
	print('More than Or Equals 5')
else:
  print('NOTA')
print("ha ha")

Less than Or Equals 6
ha ha

another if

In [104]:
print('Before 5')
x = 5
if x == 5:
 print('Is 5		 ')
 print('Is Still 5')
 print('Third 5   ')
 print('After 5   ') 
 print('Before 6  ')
print("End ") 
if x == 6:
    print('Is 6      ')
    print('Is Still 6')
    print('Third 6   ')
    print('After 6')
print("End ")

Before 5
Is 5
Is Still 5
Third 5
After 5
Before 6
End
End

one more if

In [105]:
x = int(input("Please enter an integer: "))
if x == 0:
   print('Zero')
elif x == 1:
   print('Single')
else:
    if x > 1:
        print('Positive')
    else:    
        print('Negative')

Please enter an integer: 1
Single

#<br>
for<br>
#<br>|

prints out the numbers 0,1,2,3,4

In [106]:
for x in range(0,5):
    print(x)
    
# prints out 3,4,5
for x in range(3, 6):
    print(x)

0
1
2
3
4
3
4
5

prints out 3,5,7

In [107]:
for x in range(3, 8, 2):
    print(x)
    
# for loop ... strange!!!
for i in range(10):
    print(i)
    i = 5  
    print(i)

3
5
7
0
5
1
5
2
5
3
5
4
5
5
5
6
5
7
5
8
5
9
5

In [109]:
for x in range(10, 0, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1

prints out the numbers 0,1,2,3,,5,6,7,8,9, Loop Comp

In [ ]:
for x in range(0,10):
    print(x)
else:    
    print("Loop Completed")

while loop

In [110]:
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

while loop

In [115]:
count = 0
while count < 10:
    print(count)
    count += 1  # This is the same as count = count + 1
print(count)

0
1
2
3
4
5
6
7
8
9
10